# Python
__pycache__/
build/
_core\creating\listing\calculations.c
_core\creating\progress\calculation_progress.c
_core\game3D\math3d.c
_core\game3D\rect.c

cpu\game3D\camera.c

# Virtual environments
.venv/
venv/
env/

# Environments / secrets
.env

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store